<h1>[% title %]</h1>

    <p class="indent1">
      This is the documentation for the [% project %] project in HTML format.
    </p>

    <p class="indent1">
      To find out more about [% project %], go to the <a href="[% project %]/Docs/Overview.html">overview</a> page.
      There should be one, hopefully.
    </p>

    <p class="indent1">
      If you are new to the Perl language, good places to start reading are the introduction and overview at
      <a href="http://perldoc.perl.org/perlintro.html">perlintro</a>,
      and the extensive <a href="http://perldoc.perl.org/index-faq.html">FAQ</a> section,
      which provides answers to over 300 common questions.
    </p>

    <h2>Recent changes</h2>
    <p>
      You can read through <a href="[% project %]/Docs/Changes.html">the list of most recent changes</a> for this project.
    </p>

    <a name="download"></a>
    <h2>Downloads</h2>
    <p class="indent1">
      To obtain Perl itself, please go to <a href="http://www.perl.org/get.html">http://www.perl.org/get.html</a>.
    </p>
    &nbsp;
